<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.software.beacon">

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BeaconActivity" />
        <activity
            android:launchMode="singleInstance"
            android:name=".Home"
            android:label="Shop Easy"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name=".SignupActivity"
            android:label="Signup"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MyAccount"
            android:label="My Account"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScanAndBuy"
            android:label="Scan &amp; Buy"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DealsOffers"
            android:label="Deals &amp; Offers"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CartActivity"
            android:label="My Cart"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme" />
    </application>

</manifest>